<!DOCTYPE html>
<html>
  <head>
    <title>Anime Books Online Store</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

    <%= csrf_meta_tags %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%= 'The Great Anime Bookshelf' %>
      <span class="title"> <%= @page_title %></span>      
    </div>

    <div id="columns">
      <div id="side">
        <div id="cart">
          <% if @cart %>
            <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
              <%= render @cart %>
          <% end %>
          <% end %>
        </div>

        <ul>
          <li><a href="http://localhost:3000">Home</a></li>
          <li><a href="http://localhost:3000/carts">Carts</a></li>
          <li><a href="http://localhost:3000/orders">Orders</a></li>
          <li><a href="http://localhost:3000/line_items">Line Items</a></li>
          <li><a href="http://localhost:3000/products">Products</a></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
